/* Mulish front from google fronts */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap");

/* Common Style here */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* list-style: none; */
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  font-family: "Mulish", sans-serif;
}

.common-container {
  max-width: 1170px;
  width: 82%;
  margin: 0 auto;
}

img {
  width: 100%;
}

p {
  color: #5a5a5d;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.primary-btn {
  width: 10.9rem;
  height: 3.25rem;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
}

.margin-bottom {
  margin-bottom: 100px;
}

/* header section style */

.header {
  padding-top: 3.3rem;
}

.nav {
  margin-bottom: 50px;
}

.nav ul {
  display: flex;
  width: 100%;
  align-items: center;
  list-style: none;
}

.nav ul li {
  padding: 0.8rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  user-select: none;
  /* font-size: 1.3rem; */
}

.nav-logo > img {
  width: 3rem;
}

.nav-logo h3 {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}

.nav-link a {
  color: #424247;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
}

.navbar-toggle {
  display: none;
}

.nav-link:hover a {
  display: block;
}

.banner-section {
  height: 500px;
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/banner.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-text > h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}

.banner-text > p {
  color: #fff;
}

/* Popular Tours section style */

.popular-tour-section {
  display: flex;
  align-items: center;
  gap: 53px;
}

.popular-tour-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.popular-tour-text > h2 {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}

.popular-tour-text > p {
  text-align: left;
}

.popular-tour-text > ul {
  padding-left: 35px;
}

.popular-tour-text ul > li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 26px;
}
