/* Mulish front from google fronts */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap");

/* Common Style here */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  font-family: "Mulish", sans-serif;
}

.common-container {
  max-width: 1170px;
  width: 82%;
  margin: 0 auto;
}

img {
  width: 100%;
}

h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
  margin-bottom: 24px;
}

p {
  color: #5a5a5d;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.text-section {
  max-width: 643px;
  text-align: center;
  margin-bottom: 48px;
}

.primary-btn {
  width: 10.9rem;
  height: 3.25rem;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
}

.margin-bottom {
  margin-bottom: 100px;
}

/* header section style */

.header {
  padding-top: 3.3rem;
}

.nav {
  margin-bottom: 50px;
}

.nav ul {
  display: flex;
  width: 100%;
  align-items: center;
  list-style: none;
}

.nav ul li {
  padding: 0.8rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  user-select: none;
}

.nav-logo > img {
  width: 3rem;
}

.nav-logo h3 {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}

.nav-link a {
  color: #424247;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
}

.navbar-toggle {
  display: none;
}

.nav-link:hover a {
  display: block;
}

.banner-section {
  height: 500px;
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/banner.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-text > h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}

.banner-text > p {
  color: #fff;
}

/* Popular Tours section style */

.popular-tour-section {
  display: flex;
  align-items: center;
  gap: 53px;
}

.popular-tour-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.popular-tour-text > h2 {
  margin-bottom: 0;
}

.popular-tour-text > p {
  text-align: left;
}

.popular-tour-text > ul {
  padding-left: 35px;
}

.popular-tour-text ul > li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 26px;
}

/* Destination section style */

.destination-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.destination-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
  min-height: 100vh;
  width: 100%;
}

.destination-content > section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maldive {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/maldives.png"), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  grid-column: 1 / span 6;
  grid-row: 1;

  /* position: relative;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.maldive::before {
  content: "Maldives";
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.indonesia {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/indonesia.png"),
    lightgray -101px -108.075px / 135.253% 172.05%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  grid-column: 7 / span 6;
  grid-row: 1;
}

.indonesia::before {
  content: "Indonesia";
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.srilanka {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/srilanka.png"), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  grid-column: 1 / span 4;
  grid-row: 2;
}

.srilanka::before {
  content: "Srilanka";
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.north-america {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/north-america.png"), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;

  grid-column: 5 / span 5;
  grid-row: 2;
}

.north-america::before {
  content: "North America";
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.kashmir {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/kashmir.png"), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;

  grid-column: 10 / span 3;
  grid-row: 2;
}

.kashmir::before {
  content: "Kashmir";
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.bangladesh {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/bangladesh.png"), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  grid-column: 1 / span 5;
  grid-row: 3;
}

.bangladesh::before {
  content: "Bangladesh";
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.bandarban {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/bandarban.png"), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  grid-column: 6 / span 7;
  grid-row: 3;
}

.bandarban::before {
  content: "Bandarban";
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

/* Why Choose Us section  style*/

.choose-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.choose-us-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  flex-basis: 573px;
  height: 284px;
  border-radius: 16px;
  padding: 32px;
}

.card1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.card2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.card3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

.card p {
  text-align: left;
}

.card > h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}

.card img {
  width: 64px;
  padding-bottom: 32px;
}

/* Deals & Discounts section */

.deals-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.deals-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.deals-card {
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  background: url("../images/santorini.png"), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#deals-card1,
#deals-card3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 58px;
}

#deals-card2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 58px;
}

.deals-card > .card {
  max-width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);

  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 52px 77px 50px 50px;
}

.time-place {
  display: flex;
  align-items: center;
  gap: 24px;
}

.deals-card .card .time-place p > img {
  width: 20px;
}

.time-place > p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.time-place p > span {
  position: relative;
  bottom: 15px;
}

.card-text {
  /* max-width: 452px; */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-text .price {
  color: #ff5400;
  font-size: 20px;
  font-weight: 800;
}

.deals-card .card > button {
  padding: 14px 0;
}
